#search_button{
	height: 50px;
	width: 200px;
	display: inline-block;
}
#search_input{
	height: 50px;
	width: 400px;
	padding-top: 15px;
	padding-right: 4px;
	display: inline-block;
}
#offer { 
	background:#181015 url( ../images/offer-2.jpg) no-repeat; 
	background-size: cover; 
	background-size: 100%;
	min-height:500px;
	color:white;
	font-family:"Open sans", Helvetica, Arial;
}
.offer{
	display: inline-block;
	padding-left: 40px;
	width: 50%;
}
.offer h3{
	font-size: 20px;
	font-weight: 200;
	padding-top: 40px;
}
.offer button{
	margin-top: 10px;
	height: 50px;
	width: 200px;
}
#offer h1{
	padding-top: 50px;
	padding-left: 40px;
	font-size: 50px;
	line-height: 1.15em;
	font-weight: 200;
}